/*General body rules*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;   
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
}

main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr

}

/*Header section*/

.headTop {
    background-color: #fef2f2;
    padding: 1em 3em .5em;
    display: flex;
    justify-content: space-between;
}

.headTop .find {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.headTop input {
    width: 70%;
    background-color: #fecaca;
    border-radius: 15px;
    border-style:none ;
    padding: 5px 15px 5px;
    display: inline-block;
    margin-left: 1em;
}

.find::before {
    font: var(--fa-font-solid);
    font-weight: 900;
    content: '\f002';
}
.notif {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    gap: 1.5em;
}

.notif p {
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
}

.profilePic {
    height: 4em;
    border-radius: 50%;
}

.notif::before {
    font: var(--fa-font-solid);
    font-weight: 400;
    content: '\f0f3';
    font-size: 2em;
}

.headBottom {
    background-color:#fef2f2;
    padding: .5em 3em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    line-height: 1%;
}

.greeting img {
    height: 5.5em;
    grid-column: 1/2;
    grid-row: 1/3;
}

.greeting p {
    font-size: 1.5em;
    font-weight: bold;
}

.greeting p.greet {
    font-size: 1em;
}

.Btns {
    display: flex;
    gap: 3em;
}

.headBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #b91c1c;
    color: #fef2f2;
    padding: 15px;
    width: 8em;
    height: 3em;
    font-weight: bold;
    border: none;
}

.headBtn:hover {
    background-color: #991b1b;
}

/* Sidebar section */

.sidebar {
    background-color: #b91c1c;
    color: #fef2f2;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 220%;
    padding: .75em;
    grid-column: 1 / 2;
    grid-row: 1/3;
    height: 100%;
}

.dashIcon {
    font-size: 1.25em;
}

.sidebar a{
    text-decoration: none;
    color: #fef2f2;
}

/*Sidebar Icons*/

.dashIcon::marker, 
.homeIcon::marker,
.profIcon::marker,
.msgIcon::marker,
.histIcon::marker,
.taskIcon::marker,
.comIcon::marker,
.settingsIcon::marker,
.supIcon::marker,
.privIcon::marker {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.listHover:hover {
    font-size: 1.1em;
}

.sidebar li {
    padding-left: .5em;
}

.dashIcon::marker {
    font: var(--fa-font-solid);
    content: '\f009';
    font-weight: 900;
}

.homeIcon::marker{
    font: var(--fa-font-solid);
    font-weight: 900;
    content: '\f015';
    font-size: .85em;
}
.profIcon::marker{
    font: var(--fa-font-solid);
    font-weight: 900;
    content: '\f007';
    font-size: .85em;
}
.msgIcon::marker{
    font: var(--fa-font-solid);
    font-weight: 900;
    content: '\f27a';
    font-size: .85em;
}
.histIcon::marker{
    font: var(--fa-font-solid);
    font-weight: 900;
    content: '\f1da';
    font-size: .85em;
}
.taskIcon::marker{
    font: var(--fa-font-solid);
    font-weight: 900;
    content: '\f0ae';
    font-size: .85em;
}
.comIcon::marker{
    font: var(--fa-font-solid);
    font-weight: 900;
    content: '\f0c0';
    font-size: .85em;
}
.settingsIcon::marker{
    font: var(--fa-font-solid);
    font-weight: 900;
    content: '\f085';
    font-size: .85em;
}
.supIcon::marker{
    font: var(--fa-font-solid);
    font-weight: 900;
    content: '\f590';
    font-size: .85em;
}
.privIcon::marker{
    font: var(--fa-font-solid);
    font-weight: 900;
    content: '\f3ed';
    font-size: .85em;
}

/*Content Cards section*/

.content {
    background-color: #fecaca;
    display: grid;
    gap: 1em;
    padding: 2em;
    box-sizing: border-box;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.cards {
    width: 400px;
    height: 200px;
    padding: 20px 10px 20px 40px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    border: none;
    background-color: #fef2f2;
    border-left:8px solid #b91c1c;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.cards h2 {
    font-size: 1.2em;
    margin-bottom: 0;
}

.cards p {
    font-size: 1em;
    font-weight: 400;
    margin-top: 0;
}

.iconBtns {
    display: flex;
    gap: 1em;
    justify-content: end;
    align-items: end;
    padding-right: .5em;
}

.iconBtn {
    border: none;
    background-color: transparent;
    box-sizing: content-box;
}

.fa-solid:hover {
    font-size: large;
}

/*Content Side section*/

aside {
}